.DS_Store
node_modules
.expo
.expo-shared
dist
build
coverage
*.log
desktop/renderer

mobile/node_modules
mobile/.expo
mobile/.expo-shared
mobile/dist

backend/target
backend/.mvn/wrapper/maven-wrapper.jar

.env
.env.local
.idea
.vscode

